.video {
  position: relative;
}

.video::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.video iframe {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 100%;
}

body {
  background-color: #AAFFFF;
}

iframe {
  width: 80%;
  height: auto;
  padding-bottom: 10%;
  position: relative;
}